@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1 {
  width: 829px;
  margin: 20px 0 50px;
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: 134.09%;
}

button {
  border-radius: 30px;
  background: var(--accent, #4985FF);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  width: 200px;
  height: 45px;
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  color: #FFF;
  text-align: center;
  font: normal 500 16px/normal Montserrat;
}

header {
  border-bottom: 1px solid #A1A1A1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .header__wrap {
  display: -ms-grid;
  display: grid;
  height: 100px;
}
header .header__wrap nav {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
header .header__wrap nav a {
  color: #FFF;
  font: normal 500 16px/normal Montserrat;
  text-decoration: none;
}
header .header__wrap nav a:not(:last-child) {
  margin-right: 40px;
}

#main {
  height: 100vh;
  background-image: url("./images/Rectangle.png");
  background-size: 100% 100%;
}
#main .main__wrap {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main .main__wrap p {
  color: #FFF;
  text-align: center;
  font: normal 500 16px/normal Montserrat;
}

#services {
  padding: 110px 0 105px;
}